body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

Canvas{
  border: 3px solid black;
}

h1{
  font-family: Chava;
  font-size: 4rem;
  margin: 5px 0;
}
